<div class="user-profile">
  <div class="content">
    <p class="content-name">Name LastName</p>
    <img src="assets/images/photo.png" alt="">
    <div class="content-description">
      <p class="content-description-title">User Description</p>
      <p><b>Age:</b> 29</p>
      <p><b>Phone:</b>+7777777777</p>
      <p class="email"><b>E-mail:</b>mail&#64;mail.ru</p>
      <p><b>About:</b></p>
      <p class="content-description-text">
        Eext ever since the 1500s, when=ype and= a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </div>
</div>
