/* You can add global styles to this file, and also import other style files */
@use "fonts";
@use "pages";
@use "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM PlexSans", sans-serif;
  font-weight: 400;
}
